* {
    margin: 0;
    padding: 0;
    font-family: "Vanilla Cream Ox Font", Arial, Helvetica, sans-serif;
}
@font-face {
    font-family: "Vanilla Cream Ox Font";
    src: url("fonts/vanilla-cream-ox.regular.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}
.header {
    width: 100%;
    text-align: center;
    font-size: 10rem;
}
.main-container{
    display: flex;
    justify-content: center;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    border-top: 3px solid red;
    border-right: 3px solid red;
    width: min-content;
    font-size: 5rem;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 3px solid red;
    border-bottom: 3px solid red;;
}
.controls {
    margin-top: 1rem;
    font-size: 2.5rem;
    text-align: center;
    text-decoration: underline solid 0.125rem;
}